<% if flash.notice %>
    <p><%= flash.notice %></p>
<% end %>

<div class="top_image">
    #風景画像
</div>
<div class="search_form">
    #エリア検索フォーム
</div>
<div class="reccomended_area">
    <%= link_to "#", class: "tokyo_area" do %>
        <div class="tokyo_image">
            #東京画像
        </div>
        <p>東京</p> #画像と重ねる
    <% end %>
    <%= link_to "#", class: "osaka_area" do %>
        <div class="osaka_image">
            #大阪画像
        </div>
        <p>大阪</p> #画像と重ねる
    <% end %>
    <%= link_to "#", class: "kyoto_area" do %>
        <div class="kyoto_image">
            #京都画像
        </div>
        <p>京都</p> #画像と重ねる
    <% end %>
    <%= link_to "#", class: "sapporo_area" do %>
        <div class="sapporo_image">
            #札幌画像
        </div>
        <p>札幌</p> #画像と重ねる
    <% end %>
</div>
