<tr id="room-<%= searched_room.id %>">
    <td><%= link_to image_tag(searched_room.display_image), room_path(room.id) %></td>
    <td><%= link_to searched_room.name, room_path(searched_room.id) %></td>
    <td><%= searched_room.room_introduction %></td>
    <td><%= searched_room.price %></td>
    <td><%= searched_room.created_at %></td>
</tr>