<tr id="room-<%= strict_searched_room.id %>">
    <td><%= link_to image_tag(strict_searched_room.display_image), room_path(room.id) %></td>
    <td><%= link_to strict_searched_room.name, room_path(strict_searched_room.id) %></td>
    <td><%= strict_searched_room.room_introduction %></td>
    <td><%= strict_searched_room.price %></td>
    <td><%= strict_searched_room.created_at %></td>
</tr>