<%= image_tag(@room.display_image) %>

<div class="room-user">
  <%= gravatar_for @user %>
  <%= @user.name %>
  <%= @user.self_introduction %>
</div>

<div class="room-introduction">
  <%= @room.room_introduction %>
</div>

<div class=reservation-form>
  <%= "¥#{@room.price}/日" %>
  <% provide(:button_text, "予約する") %>
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
          <%#<%= render "shared/reservation_form" %>    
          <p><%= link_to "ホーム画面に戻る", root_path %></p>
      </div>
  </div>
</div>

<% if current_user.id == @room.user_id %>
  <div class="edit-form">
    <%= link_to "部屋情報を編集する", edit_room_path(@room.id) %> 
  </div>
  <div class="delete-room">
    <%= link_to "登録した部屋を削除する", room_path(@room.id), method: :delete, data: { confirm: "本当に削除しますか?" } %>
  </div>
<% end %>